@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  height: 100%;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EEE9E6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 56px;
  line-height: 61.6px;
  font-weight: 400px;
  
  color: black;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 48px;
  line-height: 52.8px;
  font-weight: 400px;
  
  color: black;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400px;
  
  color: black;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400px;
  
  color: black;
}

h5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  line-height: 26.4px;
  font-weight: 400px;
  
  color: black;
}

h6 {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400px;
  
  color: black;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
}

/*
.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
*/

.container {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 260px
}