
.bg-cream {
  background-color: eggshell;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.rounded-full {
  border-radius: 9999px;
}

.ml-4 {
  margin-left: 1rem;
  color: black;
  font-style:italic;
}

.border {
  border-width: 1px;
}

.border-gray-400 {
  border-color: #ccc;
}

.rounded {
  border-radius: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.search-bar {
  flex-grow: 1;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  background-color: eggshell;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  outline: none;
}

.search-icon {
  margin-right: 5px;
  color: black;
}

.search-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  color: black;
}

/* Adjusting button spacing */
button.ml-4 {
  margin-left: 14px;
  margin-right: 14px;
}

.smalltext{
  color:black;
  font-size:14px;
  font-style:italic;
  margin-top:10px;
  margin-left:73px;
}

.bigtext{
  color:black;
  font-size:40px;
  font-style:italic;
  margin-top:30px;
  margin-left:70px;
  font-weight:bold;

}

@media (max-width: 768px) {
  .px-6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ml-4 {
    margin-left: 0.5rem;
  }
}

.container {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 30px;
  height:30%;
  width:90%;
  max-width:4000px;
  max-height:4000px;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom:30px;
}

.wflex {
  display: flex;
  flex-direction: row;
  overflow:visible;
}


.white-container {
  background-color: white;
  border-radius: 10px;
  width: calc(45% - 20px);
  max-width:1000px;
  margin-left: 70px;
  height:15%;
  display:flex;

}

.purple-container {
  background-color: #c1a6ff;
  border-radius: 10px;
  width: calc(20% - 5px);
  margin-left: 10px;
  margin-right: 10px;
  height:15%;
  max-width:800px;
  flex-grow:1;
}

.egg-container {
  background-color: #EEE9E6;
  border-radius: 10px;
  width: calc(20% - 5px);
  margin-left: 10px;
  margin-right: 10px;
  height:15%;
  max-width:500px;
  flex-grow:1;
  border-color:black;
}

.rounded-card {
  width: 120px; /* Adjust the card width as per your preference */
  height: 150px; /* Adjust the card height as per your preference */
  border-radius: 15px;
  background-color: gray;
  margin: 0 10px;
  transition: transform 0.3s, opacity 0.3s, cursor 0.3s;
  cursor: pointer;
}

.selected {
  transform: scale(1.2); /* Increase the size of the selected card */
}

.not-selected {
  transform: scale(0.8); /* Decrease the size of not-selected cards */
  opacity: 0.5; /* Set opacity to make them semi-transparent */
  cursor: default; /* Change cursor to default for not-selected cards */
}


.carousel-inner {
  display: flex;
  overflow-x: scroll; /* Enable horizontal scrolling */
  gap: 10px; /* Adjust the gap between cards */
}
